body{
	background: #aaa;
	margin: 60px 0 0 50px;
}
#cover{
	height: 350px;
	width: 550px;
	border: 1px solid black;
	position: relative;
	/*display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;*/
	box-sizing: border-box;
}
#player{
	height: 20px;
	width: 100px;
	background: black;
	position: absolute;

}
#block{
	height: 20px;
	width: 80px;
	background: darkred;
	margin: 10px 5px;
	position: absolute;
}
#ball{
	position: absolute;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background: linear-gradient(to bottom, #eab, #843);
	transition-duration: 100ms;

}